.videotumb-128 .ibox img {
	top: -12px;
	bottom: -12px;
	width: 128px;
}

.videotumb-96 .ibox img {
	top: -9px;
	bottom: -9px;
	width: 96;
}

.videotumb-128 .ibox {
	width: 128px;
	height: 72px;
}

.videotumb-96 .ibox {
	width: 96px;
	height: 54px;
}

.bibox {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #D3D3D3;
	display: inline-block;
	-moz-border-radius: 3px 3px 3px 3px;
	overflow: hidden;
	padding: 4px;
	position: relative;
}

.bibox .ibox {
	display: block;
	overflow: hidden;
	position: relative;
}

.bibox .ibox img {
	position: absolute;
	left: 0;
	display: block;
}

.video-time  {
    -moz-border-radius: 3px 3px 3px 3px;
    background-color: #000000;
    color: #FFFFFF !important;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 14px;
    line-height: 14px;
    opacity: 0.75;
    padding: 0 4px;
    vertical-align: top;
}
.video-time {
    bottom: 4px;
    margin-right: 0;
    margin-top: 0;
    position: absolute;
    right: 4px;
}

.vbox {
	display: inline-block;
	margin-top: 10px !important;
	margin-left: 20px;
	vertical-align: top;
}

.sdbox {
	overflow: hidden;
	margin-left: 5px;
	margin-top: -2px;
	width: 128px;
	font-size: 90%;
	line-height: 100%;
}

.rlbox-left {
	display: inline-block;
	vertical-align: middle;
	margin-left: 8px;
	margin-bottom: 4px;
}

.rlbox-right {
	display: inline-block;
	vertical-align: middle;
	width: 100px;
	margin-left: 5px;
	font-size: 88%;
	margin-bottom: 4px;
}
