<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" href="{{MEDIA_URL}}css/style.css" type="text/css" media="screen" title="All" charset="utf-8" />

  <script src="{{MEDIA_URL}}js/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{MEDIA_URL}}js/script.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{MEDIA_URL}}js/l10n/global-navigation-data-en_US.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{MEDIA_URL}}js/global-navigation.js" type="text/javascript" charset="utf-8"></script>

  <link rel="icon" type="image/png" href="{{MEDIA_URL}}images/favicon.png" />
	<title>{% block title %}Pytuby{% endblock %}</title>
	{% block add_headers %}{% endblock %}
</head>

<body>
  
  <!-- Start: Header -->
  <!-- End: Header -->

  <div id="subheader" class="container_16">
    <div id="breadcrump" class="grid_12 alpha">
      <a href="#" title=""><img src="{{MEDIA_URL}}images/home_grey.png" width="16" height="16" alt="Home" /> Home</a> &gt; <a href="#" title="">Breadcrump</a> &gt; <a href="#" title="">Breadcrump</a> &gt; <a href="#" title="">Breadcrump</a>
    </div>
    
    <div id="login-wrapper" class="grid_4 omega">
			{% if logged_in %}<a href="/logout">Logout [ {{username}} ]</a>{%else%}<a href="/login">Login</a>{% endif %}
    </div>

    <div id="nav-search" class="grid_16 alpha box box-shadow">
			<!-- box header -->
			<div class="box-header-c header-tabs" style="margin-bottom: 4px;">
				<ul>
					<li class="selected"><a href="/" class="selected new" title="Home">Home</a></li>
					<li><a href="/subscriptions" class="new" title="Your Subscriptions">Subscriptions</a></li>
				</ul>
			</div>
			<div id="contentSub"></div>
			<!-- End: box header -->
      <form id="global-search-form" action="" method="get" accept-charset="utf-8" style="display: inline;">
        <input type="text" name="q" value="search" id="search" />
        <input type="submit" value="Search" class="" accesskey="" />
      </form>
    </div>
  </div>

  <!-- Display current openSUSE Products -->
  <div id="display" class="container_16  content-wrapper">
		<div class="grid_12 alpha">
			{% if messages %}{% for message in messages %}{% if forloop.last %}
			<div class="ui-widget grid_12 alpha ui-widget-shadow" style="margin-bottom: 0.7em;" id="message">
				<div class="{% if message.tags %}ui-state-{{message.tags}}{% endif %} ui-corner-all ui-widget-shadow">
					<p>
						<span class="ui-icon {% if message.tags %}ui-icon-{{message.tags}}{% endif %}" />
						{% if message.tags %}{% if message.tags != "success" %}
						<strong>
						{% if message.tags == "info" %}Info:{% endif %}
						{% if message.tags == "warning" %}Warning:{% endif %}
						{% if message.tags == "error" %}Error:{% endif %}
						</strong>
						{% endif %}{% endif %}
						{{ message }}
					</p>
				</div>
			</div>
			<script type="text/javascript">
				window.setTimeout("$('#message').fadeOut(1100)", 2000);
			</script>
			{% endif %}{% endfor %}{% endif %}
			<div class="grid_12 box box-shadow alpha row_15">
				{% block content %}{% endblock %}
			</div>
			<div class="grid_12 box box-shadow alpha row_5">
				{% block subcontent %}{% endblock %}
			</div>
		</div>
		
		<div class="grid_4 omega box box-shadow row_22">
			{% block sidebar %}{% endblock %}
		</div>
	</div>
  <!-- End: Display -->


  <!-- Start: Main Content Area -->
  <div id="content" class="container_16  content-wrapper">
    <div class="box box-shadow grid_10">
      <div class="grid_5 alpha">
        <h3>Title 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in cillum dolore eu fugiat nulla pariatur.  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="grid_5 omega">
        <h3>Title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
      </div>
      
      <div class="grid_10 alpha omega">

      <table border="0" cellspacing="5" cellpadding="5">
        <tr>
          <th>Header</th>
          <th>Header</th>
          <th>Header</th>
        </tr>
        <tr>
          <td>Data</td>
          <td>Data</td>
          <td>Data</td>
        </tr>
        <tr>
          <td>Data</td>
          <td>Data</td>
          <td>Data</td>
        </tr>
        <tr>
          <td>Data</td>
          <td>Data</td>
          <td>Data</td>
        </tr>
      </table>
      </div>
    </div>
    
    <div class="grid_6 box box-shadow omega">
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    </div>
    
    
    <div class="box box-shadow grid_6 omega">
      <div class="box-header"> </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <div class="box-footer"> </div>
    </div>
    
    <div class="box box-shadow grid_6 omega">
      <h2 class="box-header">Title</h2>
        <ul>
          <li><a href"#">Project Overview</a></li>
          <li><a href"#">How to Participate</a></li>
          <li><a href"#">Documentation</a></li>
          <li><a href"#">Support</a></li>
          <li><a href"#">Support Forums</a></li>
          <li><a href"#">Contact</a></li>
          <li><a href"#">Sitemap</a></li>
        </ul>
    </div>
    
    
    <div class="box box-shadow grid_16">
      <div class="box-header"> </div>
      
      <table border="0" cellspacing="5" cellpadding="5">
        <tr><th>Header</th></tr>
        <tr><td>Data</td></tr>
      </table>
      
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <div class="box-footer"> </div>
    </div>
    
  </div>
  <!-- End: Main Content Area -->


  <!-- Start: Footer -->
  <div id="footer" class="container_12">
    <div id="footer-content" class="grid_12 column_4">
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div id="footer-legal" class="border-top grid_12">
      <p>
        &copy; 2010 Novell, Inc. All rights reserved. Novell is a registered trademark and
        openSUSE and SUSE are trademarks of Novell, Inc. in the United States and other countries.
      </p>
    </div>
  </div>
  <!-- End: Footer -->
  
  
</body>
</html>
