{% if messages %}{% for message in messages %}{% if forloop.last %}
<div class="ui-widget grid_16 alpha ui-widget-shadow" style="margin: 0.7em 0;" id="message">
	<div class="{% if message.tags %}ui-state-{{message.tags}}{% endif %} ui-corner-all ui-widget-shadow">
		<p>
			<span class="ui-icon {% if message.tags %}ui-icon-{{message.tags}}{% endif %}" />
			{% if message.tags %}{% if message.tags != "success" %}
			<strong>
			{% if message.tags == "info" %}Info:{% endif %}
			{% if message.tags == "warning" %}Warning:{% endif %}
			{% if message.tags == "error" %}Error:{% endif %}
			</strong>
			{% endif %}{% endif %}
			{{ message }}
		</p>
	</div>
</div>
<script type="text/javascript">
	window.setTimeout("$('#message').fadeOut(1100)", 2000);
</script>
{% endif %}{% endfor %}{% endif %}
