{% extends "base.html" %}
{% load tags %}

{% block content %}
{% for entry in scrfeed %}
{% spaceless %}
<span class="vbox">
	<a href="{% url pytube.videos.views.play id=entry.id %}" title="{{entry.title}}">
		<span class="bibox videotumb-128">
			<span class="ibox">
				<img src="{{entry.thumbnail}}" alt="Loading..." width="128" height="96" />
			</span>
			<span class="video-time">{{entry.duration}}</span>
		</span>
	</a>
	<div class="sdbox">
		<a href="{% url pytube.videos.views.play id=entry.id %}" title="{{entry.title}}">
			{% trunk entry.title 25 %}
		</a>
	</div>
</span>
{% endspaceless %}
{% endfor %}
{% endblock %}
