{% extends "base.html" %}
{% load tags %}

{% block content %}
<div style="text-align: center;">
	<div style="text-align: left; display: inline-block; width: 640px;">
		<h3 style="margin: 0 0 0 0; padding: 10px 0 10px 3px;">{{video.title}}</h3>
	</div>
	{% block player %}{% endblock %}
</div>
{% endblock %}

{% block sidebar %}
<div class="grid_4 omega box box-shadow row_5">
	<div class="box-header-c header-tabs" style="margin-bottom: 4px;">
		<ul>
			{% spaceless %}
			<li class="{# selected if subscribed #}" id="subscribe">
				<a href="#" class="selected new" title="Subscribe" onClick="document.getElementById('subscribe').className = 'selected';">Subscribe</a>
			</li>
			{% endspaceless %}
		</ul>
	</div>
	<div style="margin-left: 12px;">
		<div style="display: inline-block; vertical-align: middle;">
			<img src="{{author.thumbnail}}" width="64" alt="Loading..." />
		</div>
		<div style="display: inline-block; vertical-align: middle; padding: 0 2px; text-align: center;">
			<img src="{{MEDIA_URL}}images/icons/pixelated-dark/person.gif" alt="From" /><br />
			<img src="{{MEDIA_URL}}images/icons/pixelated-dark/calendar.gif" alt="Added" /><br />
			<img src="{{MEDIA_URL}}images/icons/pixelated-dark/bar-graph.gif" alt="Viewed" />
		</div>
		<div style="display: inline-block; vertical-align: middle;">
			{% limits author.name 17 %}<br />
			{{video.published}}<br />
			{% ksep video.viewed %}
		</div>
	</div>
	<div style="margin: 0 12px; margin-top: 1em; text-align: center;">
		<hr style="margin: 1em 15px;" />
		{% for format in flist %}
			<a href="{% url pytube.videos.views.get id=video.id itag=format.itag %}" title="{{format.quality}}">{{format.name}}</a>&nbsp;
		{% endfor %}
	</div>
</div>
<div class="grid_4 omega box box-shadow row_18">
	<div class="box-header aligncenter">Related Videos</div>
		<div style="margin-bottom: 5px;"></div>
		{% for entry in related %}
		{% spaceless %}
		<div class="rlbox-left">
			<span class="bibox videotumb-96">
				<span class="ibox">
					<a href="{% url pytube.videos.views.play id=entry.id %}" title="{{entry.title}}">
						<img src="{{entry.thumbnail}}" alt="Loading..." title="{{entry.title}}" width="96" height="72" /><br />
					</a>
				</span>
			<span class="video-time">{{entry.duration}}</span>
			</span>
		</div>
		<div class="rlbox-right">
			<div style="padding-right: 2px;">
				<a href="{% url pytube.videos.views.play id=entry.id %}" title="{{entry.title}}">
					{% trunk entry.title 26 %}
				</a><br />
				<em title="{{entry.author}}">{% limits entry.author 15 %}</em>
			</div>
		</div>
		{% endspaceless %}
		{% endfor %}
</div>
{% endblock %}

{% block submaincontainer %}
<div class="grid_12 box box-shadow alpha row_5">
	<p style="white-space: pre; font-size: 92%; line-height: 130%; margin-top: 0;">{% wrap video.description 120 %}</p>
</div>
{% endblock %}
